@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: $color-beige;
  color: #060c1f;
  font-family: $font-primary;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;

  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
